**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
realestate_chatbot/App.framework
realestate_chatbot/Flutter.framework
realestate_chatbot/Flutter.podspec
realestate_chatbot/Generated.xcconfig
realestate_chatbot/ephemeral/
realestate_chatbot/app.flx
realestate_chatbot/app.zip
realestate_chatbot/flutter_assets/
realestate_chatbot/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
